<main>
    <!-- user-dashboard section start  -->
    <section class="user-dashboard">
        <div class="user-dashboard-contanier">
            <h1 class="dashboard-name"> Dashboard</h1>
            <div class="user-dashboard-edidprofile">
                <div class="user-dashboard-edidprofile_left">
                    <div class="user-dashboard-edidprofile_left_profile-img"><img src="./assets/img/dp 1.png" alt=""></div>
                    <div class="user-dashboard-edidprofile_left_text">
                        <h1>Redwan husein</h1>
                        <p>UI / UX Designer & UX Writer</p>
                    </div>
                </div>
                <div class="user-dashboard-edidprofile_right">
                    <button class="user-dashboard-edidprofile_right">Start Work</button>
                    <button class="user-dashboard-edidprofile_right">Finish Work</button>

                </div>
                <div class="arrow"><img src="./assets/img/arrow 2.png" alt="arrow"></div>
            </div>
            <h1 class="quick_actions">Quick Actions</h1>
            <div class="quick_actions-navigation">
                <div>Apply for Leave</div>
                <div>KPI Goals</div>
                <div>Take Appraisal</div>
                <div>View Payslip</div>
                <div>Update Profile</div>
                <div>Events</div>
            </div>


            <div class="table-contanier">
                <div class="avaiable-table">
                    <div class="avaiable-table-text">
                        <h1>Available Leave Days</h1>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                                <th>@@mdo</td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@@mdo</td>
                                <td>@@mdo</td>

                            </tr>

                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@@fat</td>
                                <td>@@mdo</td>

                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@@twitter</td>
                                <td>@@mdo</td>

                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
    </section>
    <!-- user-dashboard section end -->
</main>
